.container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.btn {
    width: 200px;
    height: 60px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(245, 151, 151);
    color:#fff;
    cursor: pointer;
}

.popover {
    position: absolute;
    width: 200px;
    height: 110px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: pink;
    top: 175px;
}

.popover-header {
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: 0;
    width: 200px;
    height: 40px;
    background-color: white;
}

.popover-body {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 200px;
}

.popover.arr:before, .popover.arr:after {
    content: "";
    position: absolute;
}

.popover.arr:before {
    padding: 0;
    margin: 0;
    border-left: 10px solid rgba(113, 101, 58, 0);
    border-right: 10px solid rgba(113, 101, 58, 0);
    border-top: 10px solid black;
    left: calc(50% - 11px);
    bottom: -10px;
}
  
  .popover.arr:after {
    padding: 0;
    margin: 0;
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-top: 10px solid pink;
    left: calc(50% - 11px);
    bottom: -9px;
}
  
  .hidden {
    display: none;
}

h3, p {
  margin: 0;
  padding-left: 5px;
  color: black;
  top: 0;
}